{% extends 'base/base_profile.html' %}
{% load static %}
{% block title %} Search {% endblock %}
{% block data %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <h2>Search</h2>
                <form method="get" action=".">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
                {% if query %}
                    <h3>Results</h3>

                    {% for result in page.object_list %}
                        <p>
                            <a href="{{ result.object.get_absolute_url }}"
                               class="badge badge-primary">{{ result.object.name }}</a>
{#                                                        <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>#}
                        </p>
                    {% empty %}
                        <p>
                            <span class="badge badge-pill badge-danger">No results found.</span>
                        </p>
                    {% endfor %}

                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}
                                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                            Previous
                            {% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}
                                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
                            &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                {% else %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}