{% extends 'base/base_form.html' %}
{% load static %}
{% block title %}New Schedule{% endblock %}
{% block form %}
    <div class="col-md-12">
        <form id="schedule_form" class="form-horizontal" method="POST" action="{% url 'schedule' %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-10">
                    <label for="id_start">start</label>
                    <input hidden id="id_start" name="start">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' id="id_start_dp" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="text-danger">
                        {{ form.start.errors }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label for="id_duration">duration</label>
                    <div class="row">
                        <input hidden id="id_duration" name="duration">
                        <div class="col-md-5">
                            <div class='input-group'>
                                <input type='number' id="id_duration_hour" min="0" max="6" class="form-control" value="0"/>
                                <span class="input-group-addon">
                                    <span>hours</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class='input-group'>
                                <input type='number' id="id_duration_minute" min="0" max="59" class="form-control" value="30"/>
                                <span class="input-group-addon">
                                    <span>minutes</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-danger">
                        {{ form.duration.errors }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <button id="id_save_button" class="btn btn-primary" type="button" onclick="cleanData()"><span class="glyphicon glyphicon-save"> save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block sidebar_image %}{% static 'base/img/schedule.png' %}{% endblock %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        function cleanTwoDigitInteger(number) {
            return Math.floor(number / 10) + '' + number % 10;
        }
        function cleanData() {
            let start = $('#id_start_dp').val();
            start = new Date(start);
            start = `${start.getFullYear()}-${cleanTwoDigitInteger(start.getMonth()+1)}-${cleanTwoDigitInteger(start.getDate())}T${cleanTwoDigitInteger(start.getHours())}:${cleanTwoDigitInteger(start.getMinutes())}:${cleanTwoDigitInteger(start.getSeconds())}`;
            let duration = parseInt($('#id_duration_hour').val() * 60) + parseInt($('#id_duration_minute').val());
            $('#id_start').val(start);
            $('#id_duration').val(duration);
            $('#schedule_form').submit()
        }
    </script>
{% endblock %}