{% extends 'base/base_profile.html' %}
{% load static %}
{% block data %}
    <div class="row">
        <div onclick="(() => {window.location = '{% url 'barber_info' barbershop_id=barber_name %}'})()">
            <button type="button" class="btn btn-primary pull-right">
                Shop Profile
            </button>
        </div>

        <div onclick="(() => {window.location = '{% url 'add_service' %}'})()">
            <button type="button" class="btn btn-primary pull-right">
                Add New Service
            </button>
        </div>

        <div onclick="(() => {window.location = '{% url 'edit_service' %}'})()">
            <button type="button" class="btn btn-primary pull-right">
                Edit a Service
            </button>
        </div>

        <div class="col-md-6">
            <h3>Schedules</h3>
            {% if previous_reservations or True %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>when</th>
                            <th>duration</th>
                            <th>cancel</th>
                        </tr>
                        {% for schedule in shop_schedules %}
                            <tr>
                                <td>{{ schedule.start }}</td>
                                <td>{{ schedule.duration }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove"
                                            onclick="(() => {window.location = '{% url 'cancel-schedule' schedule.id %}'})()"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="text-info">No schedules yet.</div>
            {% endif %}
            <div onclick="(() => {window.location = '{% url 'schedule' %}'})()">
                <button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>
                    new schedule
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h3>Upcoming Reservations</h3>
            {% if upcoming_reservations %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>When</th>
                            <th>Customer</th>
                            <th>Service</th>
                            <th>Duration</th>
                        </tr>
                        {% for reservation in upcoming_reservations %}
                            <tr>
                                <td>{{ reservation.start }}</td>
                                <td><a href='{% url 'customer_info' reservation.customer %}'
                                       class="badge badge-primary">{{ reservation.customer }}</a></td>
                                <td>{{ reservation.service.name }}</td>
                                <td>{{ reservation.duration }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="text-info">No upcoming reservations.</div>
            {% endif %}
        </div>
        <div class="col-md-5 col-md-offset-2">
            <h3>Previous Reservations</h3>
            {% if previous_reservations %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>When</th>
                            <th>Customer</th>
                            <th>Service</th>
                            <th>Duration</th>
                        </tr>
                        {% for reservation in previous_reservations %}
                            <tr>
                                <td>{{ reservation.start }}</td>
                                <td><a href='{% url 'customer_info' reservation.customer %}'
                                       class="badge badge-primary">{{ reservation.customer }}</a></td>
                                <td>{{ reservation.service.name }}</td>
                                <td>{{ reservation.duration }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="text-info">No reservation history.</div>
            {% endif %}
            <div>
                <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-list"></span>
                    view all reservations
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h3>Top Three Customers</h3>
            {% if top_customer %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Who</th>
                            <th>Number of Past Reservations</th>
                            <th>Number of Upcoming Reservations</th>
                        </tr>
                        {% for customer in top_customer %}
                            <tr>
                                <td><a href='{% url 'customer_info' customer.object %}'
                                       class="badge badge-primary">{{ customer.object }}</a></td>
                                <td>{{ customer.number }}</td>
                                <td>{{ customer.number2 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="text-info">No customer yet.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}