<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    {% load static %}
    <link href="{% static "base/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
{#    <link href="{% static "base/bootstrap/css/bootstrap-rtl.min.css" %}" rel="stylesheet"/>#}
{#    <link rel="icon" href="{% static 'icons/logo.png' %}" type="image/x-icon"/>#}

    {% block styles %}{% endblock %}
    {% block resource %}{% endblock %}
</head>


<body>
{% block content %}
{% endblock %}

<!-- Scripts -->
<script src="{% static "base/bootstrap/js/jquery.min.js" %}"></script>
<script src="{% static "base/bootstrap/js/bootstrap.min.js" %}"></script>
{% block javascript %}{% endblock %}
<br>
<br>
{#{{ request.session.user_type }}#}
{#{{ request.session.page }}#}
{% if user.is_authenticated and request.session.user_type == "customer" and request. %}
    <div class="row">
        <div class="container">
            <div align= "right" >
                <a href="{% url "customer-profile" %}"> <button type="button" class="btn btn-danger">Back</button></a>
                <a href="/search/"> <button type="button" class="btn btn-danger">Search</button></a>
                <a href="{% url "explore" %}"> <button type="button" class="btn btn-danger">Explore</button></a>
                <a href="{% url 'logout' %}"> <button type="button" class="btn btn-danger">Logout from {{ user.username }}</button></a>
            </div>
        </div>
    </div>
{% endif %}


{% if user.is_authenticated and request.session.user_type == "customer" and request.session.page != "profile"%}
    <div class="row">
        <div class="container">
            <div align= "right" >
                <a href="{% url "customer-profile" %}"> <button type="button" class="btn btn-danger">Back</button></a>
                <a href="/search/"> <button type="button" class="btn btn-danger">Search</button></a>
                <a href="{% url "explore" %}"> <button type="button" class="btn btn-danger">Explore</button></a>
                <a href="{% url 'logout' %}"> <button type="button" class="btn btn-danger">Logout from {{ user.username }}</button></a>
            </div>
        </div>
    </div>
{% endif %}
{% if user.is_authenticated and request.session.user_type == "customer" and request.session.page == "profile" and request.get_full_path == "/search/"%}
    <div class="row">
        <div class="container">
            <div align= "right" >
                <a href="{% url "customer-profile" %}"> <button type="button" class="btn btn-danger">Back</button></a>
                <a href="/search/"> <button type="button" class="btn btn-danger">Search</button></a>
                <a href="{% url "explore" %}"> <button type="button" class="btn btn-danger">Explore</button></a>
                <a href="{% url 'logout' %}"> <button type="button" class="btn btn-danger">Logout from {{ user.username }}</button></a>
            </div>
        </div>
    </div>
{% endif %}
{% if user.is_authenticated and request.session.user_type == "customer" and request.session.page == "profile" and request.get_full_path != "/search/"%}
    <div class="row">
        <div class="container">
            <div align= "right" >
                <a href="{% url "login" %}"> <button type="button" class="btn btn-danger">Back</button></a>
                <a href="/search/"> <button type="button" class="btn btn-danger">Search</button></a>
                <a href="{% url "explore" %}"> <button type="button" class="btn btn-danger">Explore</button></a>
                <a href="{% url 'logout' %}"> <button type="button" class="btn btn-danger">Logout from {{ user.username }}</button></a>
            </div>
        </div>
    </div>
{% endif %}
{% if user.is_authenticated and request.session.user_type == "barber" and request.session.page != "profile"%}
    <div class="row">
        <div class="container">
            <div align= "right" >
                <a href="{% url "barber-profile" %}"> <button type="button" class="btn btn-danger">Back</button></a>
                <a href="/search/"> <button type="button" class="btn btn-danger">Search</button></a>
                <a href="{% url 'logout' %}"> <button type="button" class="btn btn-danger">Logout from {{ user.username }}</button></a>
            </div>
        </div>
    </div>
{% endif %}
{% if user.is_authenticated and request.session.user_type == "barber" and request.session.page == "profile" and request.get_full_path == "/search/" %}
    <div class="row">
        <div class="container">
            <div align= "right" >
                <a href="{% url "barber-profile" %}"> <button type="button" class="btn btn-danger">Back</button></a>
                <a href="/search/"> <button type="button" class="btn btn-danger">Search</button></a>
                <a href="{% url 'logout' %}"> <button type="button" class="btn btn-danger">Logout from {{ user.username }}</button></a>
            </div>
        </div>
    </div>
{% endif %}
{% if user.is_authenticated and request.session.user_type == "barber" and request.session.page == "profile" and request.get_full_path != "/search/"%}
    <div class="row">
        <div class="container">
            <div align= "right" >
                <a href="{% url "login" %}"> <button type="button" class="btn btn-danger">Back</button></a>
                <a href="/search/"> <button type="button" class="btn btn-danger">Search</button></a>
                <a href="{% url 'logout' %}"> <button type="button" class="btn btn-danger">Logout from {{ user.username }}</button></a>
            </div>
        </div>
    </div>
{% endif %}
<br>
</body>
</html>