{#{% for obj in list_of_discounted_barbershops %}#}
{#    <option value="{{ obj.pk }}"> {{ obj.rating }} </option>#}
{#{% endfor %}#}

<h3>Barbershops</h3>
{% if list_of_discounted_barbershops %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Discounted Services</th>
            </tr>
            {% for shop in list_of_discounted_barbershops %}
                <tr>
                    <td><a href='{% url 'barber_info' shop.barbershop.name %}'
                                       class="badge badge-primary">{{ shop.barbershop.name }}</a></td>
{#                    <td>{{ shop.barbershop.name }}</td>#}
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            <style>
                                .checked {
                                    color: orange;
                                }
                            </style>
                    <td>
                                {% if shop.int_rating == 0%}
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                {% elif shop.int_rating == 1 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                {% elif shop.int_rating == 2 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                {% elif shop.int_rating == 3 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                {% elif shop.int_rating == 4 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                {% elif shop.int_rating == 5 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                {% endif %}
                        <p style="color: orangered; display: inline" > {{ shop.rating }} </p>
                            </td>
                    <td>
                        <table class="table table-bordered">
                            {% for service in shop.discounted_services %}
                                <tr><td>{{ service.name }}</td><td><s>{{ service.price }}</s><br><b>{{ service.discounted_price }}</b></td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="text-info">No discounted barbershop yet.</div>
{% endif %}