{% extends 'base/base_profile.html' %}
{% load static %}
{% block data %}
    <div class="row">
        <div class="col-md-6">
            <h3>Upcoming Reservations</h3>
            {% if upcoming_reservations %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>When</th>
                            <th>Barbershop</th>
                            <th>Service</th>
                            <th>Duration</th>
                            <th>Cancel</th>
                        </tr>
                        {% for reservation in upcoming_reservations %}
                            <tr>
                                <td>{{ reservation.start }}</td>
                                <td><a href='{% url 'barber_info' reservation.shop.name %}'  class="badge badge-primary">
                                    {{ reservation.shop.name }}</a></td>
                                <td>{{ reservation.service.name }}</td>
                                <td>{{ reservation.duration }}</td>
                                <td><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" onclick="(() => {window.location = '{% url 'cancel' reservation.id %}'})()"></span></button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="text-info">No upcoming reservations.</div>
            {% endif %}
            <div onclick="(() => {window.location = '{% url 'reserve' %}'})()">
                <button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> new reservation</button>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <h3>Previous Reservations</h3>
            {% if previous_reservations %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>When</th>
                            <th>Barbershop</th>
                            <th>Service</th>
                            <th>Duration</th>
                        </tr>
                        {% for reservation in previous_reservations %}
                            <tr>
                                <td>{{ reservation.start }}</td>
                                <td><a href='{% url 'barber_info' reservation.shop.name %}' class="badge badge-primary">
                                    {{ reservation.shop.name }}</a></td>
                                <td>{{ reservation.service.name }}</td>
                                <td>{{ reservation.duration }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="text-info">No reservation history.</div>
            {% endif %}
            <div>
                <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-list"></span> view all reservations</button>
            </div>
        </div>
    </div>
{% endblock %}